<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app 
          PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app version="2.4">
     <display-name> ServletSimple </display-name>
     <description> Servlet muy simple </description>
     <servlet>
           <servlet-name> Sint81P2 </servlet-name>
           <servlet-class> p2.Sint81P2 </servlet-class>
     </servlet>
     <servlet-mapping>
           <servlet-name> Sint81P2 </servlet-name>
           <url-pattern> /P2EA </url-pattern>   
     </servlet-mapping>
</web-app>
